body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-header{
  color: red;
}
.TodoWrap{
  background: black;
  margin-top: 70px;
  padding: 30px;
  border-radius: 10px;
}
.TodoList{
  width: 100%;
  margin-bottom: 10px;
}
.input-box{
  outline: none;
  background: none;
  border: 1px solid green;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}
.addButton {
  background: green;
  border-bottom-right-radius: 14px;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo-Main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: gray;
  color: #fff;
  padding: 0px 10px;
  border-radius: 2px;
  border-bottom-right-radius: 20px;
  margin-bottom: 1rem;
}

.btn-u{
  cursor: pointer;
  background-color: green;
  color: white;
  font-size: medium;
  margin-left: 10px;
  padding:4px;
  border-radius: 8px;
  border: 1px solid white;
}
.btn-u:hover{
  cursor: pointer;
  background-color: darkgreen;
  color: white;
  font-size: medium;
  margin-left: 10px;
  padding:4px;
  border-radius: 8px;
}
.btn-d{
  cursor: pointer;
  background-color: orangered;
  color: white;
  font-size: medium;
  margin-left: 10px;
  padding:4px;
  border-radius: 8px;
  border: 1px solid white;
}
.btn-d:hover{
  cursor: pointer;
  background-color: darkred;
  color: white;
  font-size: medium;
  margin-left: 10px;
  padding:4px;
  border-radius: 8px;
}
 